html { 
  background: url(img/bg.jpg) no-repeat center center fixed; 
  background-color: #080811;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font-family: 'Dosis';
  font-size:medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#container{
  border-style: solid;
  border-color: #000000;
}


header {
  text-align: center;
  background: white;
  width: 100%;
  content: url(img/header.jpg);
  max-width: 900px;
  object-fit: cover;
  
}


footer{
  background-color: black;
  padding-top: 8px;
  padding-bottom:8px;
  color: white; 
  max-width: 900px;
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  font-size:medium;
  
}

nav{
  background-color: black;
  padding-top: 8px;
  padding-bottom:8px;
  color: white; 
  max-width: 900px;
  width: 900px;
  display: flex;
  justify-content: space-evenly; 
  font-size:medium;
}

a:link{
  color: white;
  text-decoration: none;
}

a:visited{
  color:white; 
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}



main{
  background-color: #A4B2D4;
  color: white; 
  max-width: 900px;
  width: 900px;
}


.bordertext {
  border-radius: 10px;
  background: #39445F;
  padding: 10px;
  width: 600px;
  margin: auto;
}

#threeColumns{
  display: flex;
}

.borderimg {
  border-radius: 10px;
  background: #39445F;
  padding: 10px;
  margin: auto;
  max-width: 200px;

}
.borderimg>img{
  max-width: 200px;
}

.calendar {
  border-radius: 10px;
  background: #39445F;
  padding: 10px;
  width: 800px;
  margin: auto;
  display: flex;
}

#calendar{
  flex: 60%;
  background-color: aliceblue;
}

#bookingText{
  flex: 40%;
  
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}