#fancy_club.body {
  margin: 0px;
}

#fancy_club.header {
  background-color: black;
  height: 75px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#fancy_club.header_logo{
  text-decoration: none;
}

#fancy_club.main_heading {
  margin-top: 0px;
}

#fancy_club.header_heading {
  color: white;
  font-size: 30px;
  margin: 0px;
  padding-left: 50px;
}

#fancy_club.main_page {
  display: flex;
}

#fancy_club.main {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#fancy_club.right {
  width: 30%;
  background-color: darkgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 7px;
}

#fancy_club.login_form{
  background-color: white;
  border-radius: 5px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#fancy_club.login_h2{
  margin: 16px 0px 16px 0px;
}

#fancy_club.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#fancy_club.input_group{
  margin-bottom: 15px;
}

#fancy_club.label{
  font-weight: bold;
}

#fancy_club.login_form input[type="text"],
#fancy_club.login_form input[type="password"] {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#fancy_club.login_button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: darkgray;
  color: black;
  cursor: pointer;

}

#fancy_club.login_button:hover {
  background-color: lightgray;
}

#fancy_club.club_info {
  text-align: center;
  width: calc(100% - 20px);
  background-color: white;
  border-radius: 5px;
}


#fancy_club.general_info {
  font-size: 24px;
}

#fancy_club.calendar {
  text-align: center;
  width: calc(100% - 20px);
  background-color: white;
  border-radius: 5px;
}

#fancy_club.calendar_heading{
  font-size: 24px;
}

#fancy_club.ul {
  list-style-type: none;
  padding-left: 0px;
}

#fancy_club.strong {
  font-weight: bold;
}

#fancy_club.club_photo {
  width: calc(100% - 40px);
  height: auto;
}

#fancy_club.club_photo_2 {
  width: calc(100% - 40px);
}

#fancy_club.club_information {
  width: auto
}

#fancy_club.footer {
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#fancy_club.downbar_button {
  border: none;
  background: none;
  color: white;
  font-size: 14px;
}

@media (max-width: 800px) {

  #fancy_club.main_page {
    flex-direction: column;
  }

  #fancy_club.right {
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #fancy_club.login_form{
    margin-bottom: 20px;
  }

  #fancy_club.calendar {
    margin-bottom: 20px;
  }

  #fancy_club.club_info {
    margin-bottom: 20px;
  }

  #fancy_club.club_photo {
    width: calc(100% - 40px);
    height: auto;
  }

  #fancy_club.main {
    width: auto;
  }
}