body {
  margin: 0px;
}

header {
  background-color: black;
  height: 75px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

#main_heading {
  margin-top: 0px;
}

.header_heading {
  color: white;
  font-size: 30px;
  margin: 0px;
  padding-left: 50px;
}

.main_page {
  display: flex;
}

.main {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.right {
  width: 30%;
  background-color: darkgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


.club_info {
  text-align: center;
  width: calc(100% - 20px);
}


h1 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

strong {
  font-weight: bold;
}

#club_photo {
  width: calc(100% - 40px);
  height: auto;
}

#club_photo_2 {
  width: calc(100% - 40px);
}

#club_information {
  width: auto
}

footer {
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.downbar_button {
  border: none;
  background: none;
  color: white;
  font-size: 14px;
}

@media (max-width: 800px) {
  .main_page {
    flex-direction: column;
  }

  .right {
    width: 100%;
  }

  #club_photo {
    width: calc(100% - 40px);
    height: auto;
  }

  .main {
    width: auto;
  }
}