/* Added grid display to main tag*/
.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

/* Define grid template to be portrait for screens >= 500px */
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 25% 75%;
    grid-template-areas:
      "header  header"
      "content sidebar"
      "footer  footer";
  }
}
/* Define grid template to be landscape for screens >= 700px */
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
      "header header  header"
      "content content sidebar"
      "footer footer  footer";
  }
}

.footer{
  font-size: 13px;
  font-weight: lighter;
  text-align: center;
  color: blanchedalmond;
  font-family: serif;
}

.login {
  position: absolute;
  font-size: 100%;
  font-weight: lighter;
  color: blanchedalmond;
  font-family: serif;
  font-style: italic;
  right: 2%;
}

.booking {
  font-size: 100%;
  font-weight: lighter;
  color: blanchedalmond;
  font-family: serif;
  font-style: italic;
  right: 10%;
  position: absolute;
}





header {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2vh;
}

img {  
  align-self: center;
  height: 150px;
  width: 150px;
  border: 5px dotted whitesmoke;
  border-radius: 40px;
  padding: 15px; 
}

a {
  line-height: 5vh;
}

h1 {
  display: inline;
  float: left;
  text-align: center;
  color:blanchedalmond;
  font-family: serif;
  font-size: 250%;
  font-weight: bold;
  font-style: italic;
}


body{
  font-family: cursive;
  background-image: url("backgroundPic.jpg");
  background-size: 50%;
  background-position: 100%;
  position: relative;
}

.middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.middlediv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: blanchedalmond;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.imageSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: blanchedalmond;
  text-align: center;
  justify-content: center;
}


.flex-row-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row-container>.flex-row-item {
  flex: 1 1 15%;
  /*grow | shrink | basis */
  height: auto;
}

.flex-row-item {
  color:blanchedalmond;
  

}

.flex-row-item>h2 {
  text-align: center;
}

.flex-row-item>p {
  text-align: center;
}

.calendar {
  text-align: center;
      margin-left: 5%;
}